

body {
    background-color: lemonchiffon;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 10% 10% 10% 50% 10% 5%;
    gap: 5px;
    grid-template-rows: 60px;
    align-items: center ;
    justify-content:space-evenly ;
    justify-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo img {
    width: 100%;
}

.home-btn,
.following-btn {
    color:white;
    background-color: black;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.following-btn {
    color: black;
    background-color: white;
}

.searchbar {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background-image: url(https://img.icons8.com/ios-glyphs/30/000000/search.png);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-x: left;
    background-position-y: center;
    background-blend-mode: soft-light;
    width: 80%;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

}

.icons-bell,
.icons-chat,
.icons-menu {
    width: 32px;
    height: 32px;
    padding: 5px;
}
